<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
    <!-- BODY ACA -->
    <div class="regContenedor">
        <div class="row">
            <div class="col-sm-1 col-md-3 col-lg-2"></div>
            <div class="col-sm-10 col-md-6 col-lg-8 divReg">
                <form action="" method="POST">
                    <p>
                        <div class="input-group">
                            <input 
                            type="text" 
                            id="usrName"
                            placeholder="Ingrese su Nombre Completo"
                            name="usrName" 
                            class="form-control input-sm
                            <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                <%= hasErrorGetMessage('usrName', errors) ? 'is-invalid' : null %> 
                            <% } %>
                            "
                            value="<%= typeof oldData !== 'undefined' ? oldData.usrName : null %>"
                        >
                        <i class="invalid-feedback">
                            <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                <%= hasErrorGetMessage('usrName', errors) ? hasErrorGetMessage('usrName', errors) : null %>
                            <% } %>
                        </i>

                        </div>
                    </p>
                    <p>
                    </p>
                    <div class="input-group">
                        <input 
                        type="text" 
                        id="inputEmail"
                        placeholder="Ingrese su eMail"
                        name="email" 
                        class="form-control input-sm
                        <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                            <%= hasErrorGetMessage('email', errors) ? 'is-invalid' : null %> 
                        <% } %>
                        "
                        value="<%= typeof oldData !== 'undefined' ? oldData.email : null %>"
                    >
                    <i class="invalid-feedback">
                        <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                            <%= hasErrorGetMessage('email', errors) ? hasErrorGetMessage('email', errors) : null %>
                        <% } %>
                    </i>
                    </div>
                    <p>
                        <div class="input-group">
                            <input 
                            type="text" 
                            id="inputEmail"
                            placeholder="Reingrese su eMail" 
                            name="email" 
                            class="form-control input-sm
                            <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                <%= hasErrorGetMessage('email', errors) ? 'is-invalid' : null %> 
                            <% } %>
                            "
                            value="<%= typeof oldData !== 'undefined' ? oldData.email : null %>"
                        >
                        <i class="invalid-feedback">
                            <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                <%= hasErrorGetMessage('email', errors) ? hasErrorGetMessage('email', errors) : null %>
                            <% } %>
                        </i>
                        </div>
                    </p>
                    <p>
                        <div class="input-group">
                            <input 
                            type="text" 
                            id="foneNum"
                            placeholder="Ingrese su numero de telefono"
                            name="number" 
                            class="form-control input-sm
                            <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                <%= hasErrorGetMessage('number', errors) ? 'is-invalid' : null %> 
                            <% } %>
                            "
                            value="<%= typeof oldData !== 'undefined' ? oldData.number : null %>"
                        >
                        <i class="invalid-feedback">
                            <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                <%= hasErrorGetMessage('number', errors) ? hasErrorGetMessage('number', errors) : null %>
                            <% } %>
                        </i>
                
                        </div>
                    </p>
                    <p>
                        <div class="input-group">
                            <select class="form-control input-sm selectpicker show-menu-arrow" id="tipDoc" name="tipDoc"
                                title="Tipo de documento" data-fv-field="tipDoc" tabindex="-98">
                                <option value="">Tipo de Documento</option>
                                <option value="DU">DNI</option>
                                <option value="LC">LIBRETA CIVICA</option>
                                <option value="CL">CUIL</option>
                            </select>
                        </div>
                    </p>
                    <p>
                        <div class="input-group">
                            <input 
                            type="text" 
                            placeholder="Ingrese su Numero de Identidad" 
                            id="NumeroDocumento"
                            name="NumeroDocumento" 
                            class="form-control input-sm
                            <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                <%= hasErrorGetMessage('NumeroDocumento', errors) ? 'is-invalid' : null %> 
                            <% } %>
                            "
                            value="<%= typeof oldData !== 'undefined' ? oldData.NumeroDocumento : null %>"
                        >
                        <i class="invalid-feedback">
                            <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                <%= hasErrorGetMessage('NumeroDocumento', errors) ? hasErrorGetMessage('NumeroDocumento', errors) : null %>
                            <% } %>
                        </i>
                        </div>
                    </p>
                    <p>
                        <div class="input-group">
                            <input 
                            type="text" 
                            placeholder="Ingrese su Contraseña" 
                            data-fv-field="password"
                            id="password"
                            name="password" 
                            class="form-control input-sm
                            <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                <%= hasErrorGetMessage('password', errors) ? 'is-invalid' : null %> 
                            <% } %>
                            "
                            value="<%= typeof oldData !== 'undefined' ? oldData.password : null %>"
                        >
                        <i class="invalid-feedback">
                            <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                <%= hasErrorGetMessage('password', errors) ? hasErrorGetMessage('password', errors) : null %>
                            <% } %>
                        </i>
                        </div>
                    </p>
                    <p>
                        <div class="input-group">
                            <input 
                            type="text"
                            placeholder="Re ingrese su Contraseña" 
                            data-fv-field="password"
                            id="password"
                            name="password" 
                            class="form-control input-sm
                            <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                <%= hasErrorGetMessage('password', errors) ? 'is-invalid' : null %> 
                            <% } %>
                            "
                            value="<%= typeof oldData !== 'undefined' ? oldData.password : null %>"
                        >
                        <i class="invalid-feedback">
                            <% if (typeof hasErrorGetMessage !== 'undefined') { %>
                                <%= hasErrorGetMessage('password', errors) ? hasErrorGetMessage('password', errors) : null %>
                            <% } %>
                        </i>
                        </div>
                    </p>
                    <div class="form-group">
                        <div class="col-12">
							<button type="submit" class="btn btn-primary">Registrarse</button>
						</div>
                    </div>
                    
                </form>
            </div>
            <div class="col-sm-1 col-md-3 col-lg-2"></div>
        </div>
    </div>
    <br>
    <!-- FOOTER DESDE ACA -->
    <%- include('partials/footer') %>