<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<body>
	<br>
	<h2>Bienvenida/o  tu perfil <%= user.name %></h2>
	<br>
	<img src="/images/photo/<%= user.avatar %>" alt="">
	<p>Hola, <%= user.name %></p>
	<p>Email: <%= user.email %></p>
	<p>Tipo de Documento: <%= user.docType %></p>
	<p>Numero del documento: <%= user.docNum %></p>
	
	<br>
	<a href="/users/logout">SALIR</a>
</body>
<%- include('../partials/footer.ejs') %>